{% load classname %}
{% for device in devices %}
{% with device|classname as modelclass %}
<tr id="device-{{ device.id }}" class="device-row">
  <td>{{ device.id }}</td>
  <td>{{ device.name }}</td>
  <td>{{ device.ip }}</td>
  {% if device.active %}
  <td class="text-success">Active</td>
  {% else %}
  <td class="text-danger">Not Active</td>
  {% endif %}
  <td>
    {% if modelclass == 'Shelly3EMDevice' %}
    <button class="btn btn-primary btn-sm" hx-get="{% url 'shelly_device' id=device.id %}" hx-target="#dialog">
    {% elif modelclass == "MystromDevice" %}
    <button class="btn btn-primary btn-sm" hx-get="{% url 'mystrom_device' id=device.id %}" hx-target="#dialog">
    {% endif %}
      Edit Device
    </button>

  </td>
</tr>
{% endwith %}
{% endfor %}