{% load widget_tweaks %}
{% load classname %}
{% with device|classname as modelclass %}
{% with WIDGET_ERROR_CLASS='is-invalid' %}

{% if device and modelclass == 'Shelly3EMDevice' %}
<form onsubmit="onSubmit()" hx-post="{% url 'shelly_device' id=device.id %}" hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}' hx-target="#shelly-devices-list" class="modal-content">
{% elif device and modelclass == "MystromDevice" %}
<form onsubmit="onSubmit()" hx-post="{% url 'mystrom_device' id=device.id %}" hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}' hx-target="#mystrom-devices-list" class="modal-content">
{% elif not device and device_type == 'Shelly3EMDevice' %}
<form onsubmit="onSubmit()" hx-post="{% url 'shelly_devices' %}" hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}' hx-target="#shelly-devices-list" class="modal-content">
{% elif not device and device_type == "MystromDevice" %}
<form onsubmit="onSubmit()" hx-post="{% url 'mystrom_devices' %}" hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}' hx-target="#mystrom-devices-list" class="modal-content">
{% endif %}
  {% csrf_token %}
  <div class="modal-header">
    {% if device %}
    <h5 class="modal-title" id="exampleModalLabel">Edit device</h5>
    {% else %}
    <h5 class="modal-title" id="exampleModalLabel">Create {{ device_type }}</h5>
    {% endif %}
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div id="modal-body" class="modal-body">
    {% include "device_form_rows.html" with form=form %}
  </div>
  <div class="modal-footer">
    {% if device %}
      {% if modelclass == 'Shelly3EMDevice' %}
      <button onclick="onDelete()" id="modal-delete" type="button" class="btn btn-danger" hx-delete="{% url 'shelly_device' id=device.id %}">Remove</button>
      {% elif modelclass == "MystromDevice" %}
      <button onclick="onDelete()" id="modal-delete" type="button" class="btn btn-danger" hx-delete="{% url 'mystrom_device' id=device.id %}">Remove</button>
      {% endif %}
    <span class="flex-grow-1"></span>
    {% endif %}
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button id="modal-submit" type="submit" class="btn btn-primary">Save</button>
  </div>
</form>
{% endwith %}
{% endwith %}
<script>
  var submit_button = document.getElementById("modal-submit");
	function onSubmit() {
    submit_button.innerHTML = "Saving....";
    submit_button.disabled = true;
  }
  
</script>
{% if device %}
<script>
  var delete_button = document.getElementById("modal-delete");
	function onDelete() {
    delete_button.innerHTML = "Removing....";
    delete_button.disabled = true;
  }
</script>
{% endif %}