<script>
  async function loadShellyChart(id, elementId, startDate, endDate) {
    return new Promise((resolve) => {
      const startQuery = startDate == "" ? "" : "?start=" + startDate;
      const endQuery =
        endDate == "" ? "" : (startDate == "" ? "?" : "&") + "end=" + endDate;
      console.log(
        "Requesting REST: {% url 'shelly_rest_device_index' %}" +
          id.split("-")[1] +
          "/results/" +
          startQuery +
          endQuery
      );
      $.get(
        "{% url 'shelly_rest_device_index' %}" +
          id.split("-")[1] +
          "/results/" +
          startQuery +
          endQuery,
        function (data) {
          const chartElement = document.getElementById(elementId + "-chart");
          const informationElement = document.getElementById(
            elementId + "-information"
          );

          if (data.length == 0) {
            informationElement.innerHTML =
              '<h3 class="text-danger">Query of device ' +
              id +
              " is empty</h3>";
            console.log("Data is empty. Can not show any data");
            resolve();
            return;
          }
          const firstDate = new Date(data[0].date);
          const lastDate = new Date(data[data.length - 1].date);
          const differenceBetweenDates = lastDate - firstDate;
          const hoursDifferenceBetweedDates =
            differenceBetweenDates / 1000 / 60 / 60;

          const powerList = data.map((entry) => entry.total_power);
          let emeter0List, emeter1List, emeter2List = [];
          let emeterSeries = [];
          if (data[0].emeters) {
            emeter0List = data.map((entry) => entry.emeters[0].power);
            emeter1List = data.map((entry) => entry.emeters[1].power);
            emeter2List = data.map((entry) => entry.emeters[2].power);
            emeterSeries = [
              {
                name: "Phase A",
                data: emeter0List,
              },
              {
                name: "Phase B",
                data: emeter1List,
              },
              {
                name: "Phase C",
                data: emeter2List,
              },
            ];
          }
          let total = 0;
          for (let power of powerList) {
            total += power;
          }
          const average = total / powerList.length;
          const totalProducedkWh =
            (average * hoursDifferenceBetweedDates) / 1000;

          informationElement.innerHTML =
            "<h5>Average of " +
            hoursDifferenceBetweedDates.toFixed(2) +
            " hours: " +
            average.toFixed(2) +
            "Wh</h5>";
          informationElement.innerHTML +=
            "<h5>Leads to <b>" +
            totalProducedkWh.toFixed(2) +
            "kWh</b> produced in " +
            hoursDifferenceBetweedDates.toFixed(2) +
            " hours</h5>";

          const options = {
            series: [
              {
                name: "Power",
                data: powerList,
              }
            ],
            chart: {
              height: 500,
              type: "line",
              zoom: {
                enabled: true,
              },
              animations: {
                enabled: false
              }
            },
            colors: ["#C80815", "#6050dc", "#39FF14", "#dfa801"],
            dataLabels: {
              enabled: false,
            },
            stroke: {
              width: 2,
              curve: "straight",
            },
            title: {
              text: "Power Usage",
              align: "left",
            },
            grid: {
              row: {
                colors: ["#f3f3f3", "transparent"], // takes an array which will be repeated on columns
                opacity: 0.5,
              },
            },
            xaxis: {
              categories: data.map((entry) =>
                new Date(entry.date).toLocaleString()
              ),
              hideOverlappingLabels: true,
              tickAmount: 5,
            },
            yaxis: {
              decimalsInFloat: 2,
            },
          };
          options.series.push(...emeterSeries);
          // reducde series data when too much data is available
          if (data.length > 1000) {
            options.series = options.series.map((series) => {
              const newData = [];
              for (let i = 0; i < series.data.length; i++) {
                if (i % 5 == 0) {
                  newData.push(series.data[i]);
                }
              }
              return {
                name: series.name,
                data: newData,
              };
            });
          }
          const chart = new ApexCharts(chartElement, options);
          chart.render();
          resolve();
        }
      );
    });
  }
</script>
